@import "https://fonts.googleapis.com/css?family=Indie+Flower";
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #f5f5f5;
  color: 67727A;
  font-family: "Indie Flower", cursive;
  margin: 0;
}
h2 {
  font-size: 180%;
  font-weight: 700px;
  text-align: center;
  padding-top: 2%;
}
h3 {
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
}
p {
  font-size: 110%;
  line-height: 150%;
  padding: 1%;
  text-indent: 2%;
  text-align: justify;
  color: #f5f5f5;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}
header {
  background-color: #6991ac;
  width: 100%;
  height: 86px;
}
#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}
#logo {
  margin: 20px;
  float: left;
  width: 200px;
  height: 60px;
  background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/RD_ocobwj.png)
    no-repeat center;
}
/*---start navigation---*/
nav {
  float: right;
  padding: 25px 20px 0 0;
}
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/nav_xe79ju.png)
    center;
}
a:hover#menu-icon {
  border-radius: 4px 4px 0 0;
}
ul {
  list-style-type: none;
}
nav ul li {
  font-size: 150%;
  display: inline-block;
  /* float: left; */
  padding: 10px;
}
nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
}
nav ul li a:hover {
  color: #c3d7df;
}
.current {
  color: #c3d7df;
}
/*---end of navigation---*/
.banner {
  width: 100%;
  background-color: #6991ac;
}
.banner-inner {
  max-width: 1100px;
  margin: 0 auto;
}
.one-fourth {
  width: 25%;
  float: left;
  text-align: center;
}
#html {
  background-color: #f1aa90;
}
#css {
  background-color: #8be9ad;
}
#seo {
  background-color: #aadcd2;
}
#social {
  background-color: #a2b2c1;
}
.one-fourth i {
  color: #f0f0f0;
  font-size: 500%;
  padding: 13% 0 4% 0;
}
.inner-wrapper {
  float: left;
  width: 100%;
  background-color: #c3d7df;
}
article {
  float: left;
  width: 50%;
  margin: 0 auto;
  height: auto;
}
#tablet {
  background-color: #c3d7df;
}
aside {
  width: 50%;
  float: right;
  margin: 0 auto;
  height: auto;
}
#tablet2 {
  background-color: #a2b1c1;
}
#mobile {
  background-color: #beb9ad;
}
#desktop {
  background-color: #f1aa90;
}
.inner-wrapper-2 {
  width: 100%;
  float: left;
  background-color: #c3d7df;
}
.inner-wrapper-3 {
  width: 100%;
  float: left;
  background-color: #aadcd2;
}
.one-third {
  width: 33.33333333%;
  float: left;
  text-align: center;
}
#google {
  background-color: #a2b1c1;
}
#marketing {
  background-color: #beb98d;
}
#customers {
  background-color: #aadcd2;
}
#smelly {
  background-color: #aadcd2;
  padding: 0 0 1%;
  clear: both;
}
/*--footer---*/
footer {
  background-color: #6991ac;
  width: 100%;
}
.social {
  list-style-type: none;
  text-align: center;
}
.social li {
  display: inline;
}
.social i {
  font-size: 450%;
  margin: 1%;
  padding: 5% 5% 5% 4%;
  color: #c3d7df;
}
.social i:hover {
  color: #f5f5f5;
}
/*--- begining of second footer---*/
footer.second {
  border-top: 2px solid #aadcd2;
  background-color: #544859;
  max-height: 35px;
}
footer.second p {
  text-align: center;
}
/*---media start----*/
@media screen and (max-width: 768px) {
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 110%;
  }
  header {
    position: absolute;
  }
  #logo {
    margin: 15px 0 20px 25px;
    background: url(https://res.cloudinary.com/dgpmuegqe/image/upload/v1492571257/RD_mobile_sapd7z.png)
      no-repeat center;
  }
  #menu-icon {
    display: inline-block;
  }
  nav ul,
  nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    background: #6991ac;
    padding: 20px;
    right: 20px;
    top: 60px;
    border: 1px solid #fff;
    border-radius: 2px 0 2px 2px;
    width: 50%;
  }
  nav:hover ul {
    display: block;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
  }
  .banner {
    padding-top: 86px;
  }
  .one-fourth {
    float: left;
    width: 100%;
  }
  .one-fourth i {
    font-size: 350%;
    padding: 4% 0 1% 0;
  }
  article {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  .hand-mobile {
    display: none;
  }
  .one-third {
    width: 100%;
  }
  .social i {
    font-size: 180%;
  }
}
